.filters_container{
  display: flex;
  align-items:center;
  margin: 30px 0;
}

.flex_container{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters_container input{
  outline: none;
  border: none;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}

.filters_container input:hover,
.filters_container input:focus{
  border: 1px solid rgba(75, 118, 158, 0.486);
}

.filters_container label{
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: 12px;
  color:rgba(0, 0, 0, 0.747);
}

.filters_container label::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  display: block;
  height: 13px;
  width: 13px;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}

.filters_container input[type="radio"]{
  display: none;
}

.filters_container input[type="radio"]:checked + label::after{
  background-color: rgba(75, 118, 158, 0.486);
  background-image: url('../../image/10779261536572527.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 3px;
  background-position-x: 1px;
}

.filters_container input[type="text"]{
  height: 25px;
  width: 300px;
  margin-right: 10px;
  padding: 15px;
  outline: none;
  border-radius: 5px;
}

.filters_container input[type="number"]{
  height: 25px;
  width: 100px;
  padding: 15px;
  margin-right: 30px;
  border-radius: 5px;
}

button{
  height: 32px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgba(75, 118, 158, 0.486);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

button:hover, button:focus{
  transform: scale(1.1);
}

